<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chess</title>
    <script src="/javascript/config.min.js"></script>
    <script src="/javascript/images.min.js"></script>
    <script src="/javascript/board.min.js"></script>
    <script src="/javascript/scoreboard.min.js"></script>
    <script src="/javascript/game.min.js"></script>
    <script src="/javascript/connection.min.js"></script>
    <script src="/javascript/chess.min.js"></script>
    <script src="/javascript/actions.min.js"></script>
    <script src="/javascript/cause.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/client.min.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="chess"></div>
    <div class="link-to-github"><a href="https://github.com/simpledevdima/chess">https://github.com/simpledevdima/chess</a></div>
</body>
</html>
